/* 公共样式 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dsp_f{
  display: flex;
  align-items: center;
}
.jc_c{
  justify-content: center;
}
.jc_sa{
  justify-content: space-around;
}
.jc_sb{
  justify-content: space-between;
}
a{
  text-decoration: none;
  color: inherit;
}
.img{
  width: 100%;
}
.bg_img{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* 引入字体 */
/* @font-face {
  font-family: space;
  src: url("./../../fonts/space.ttf");
} */